@import 'tailwindcss';

@theme {
	--color-todo: hsl(39, 100%, 65%);
	--color-inprogress: hsl(210, 100%, 62%);
	--color-done: hsl(120, 100%, 60%);
	--color-scrap: hsl(0, 100%, 67%);
	--color-rerecord: hsl(300, 100%, 72%);
}

@utility no-scrollbar {
	&::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
